<div class="container-fluid">
  <h1>Editing items</h1>
  <%= render "form", item: @item %>
  <br>
  <%= link_to "Show this item", @item, class: 'btn btn-light min-width-btn' %> |
  <%= link_to "Back to items", items_path, class: 'btn btn-light min-width-btn' %>
</div>
